body {
    background: url(https://i.loli.net/2018/02/16/5a86cc444b367.jpg) no-repeat center top;
}

.member {
    margin: 8% 1%;
}

.navbar-header {
    font-family: 微软雅黑, 黑体, Ubuntu;
}

img {
    border-radius: 50px;
    width: 100px;
    border-style: double;
    border-width: 5px;
    border-color: #dededeee;
}

.media {
    font-family: 微软雅黑, 黑体, Ubuntu;
    background-color: #eeeeeeee;
    margin-top: 20px;
    padding: 2% 4%;
    font-size: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #efefef88;
    line-height: 1.5;
    border-radius: 16px
}

.media-left-icon:hover {
    background-color: #bbbf8bee;
    margin-left: 1%;
    margin-right: -1%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0.9;
}

.media-right-icon:hover {
    background-color: #bbbf8bee;
    margin-left: -1%;
    margin-right: 1%;
    transition-duration: 0.5s;
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

a:hover {
    text-decoration: none;
    color: #2c2c2c;
}

a:link {
    text-decoration: none;
    color: #2c2c2c;
}

a:visited {
    text-decoration: none;
    color: #393939;
}

hr {
    margin: 1% 0;
}

.blank {
    margin-top: 70px
}
