@font-face {
    font-family: "custom001";
    src: url(../font/SantEliaRoughAltBoldThrDEMO.otf);
}

body {
    background-color: #f5f5f5;
}

.navbar-header {
    font-family: custom001;
}

.member {
    margin: 8% 1%;
}

img {
    border-radius: 5px;
    width: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
}

.media {
    background-color: #ffffff;
    margin-top: 2%;
    padding: 4% 8%;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    line-height: 1.5;
}

.media:hover {
    background-color: #bbbf8b;
    margin-left: 1%;
    transition-duration: 0.5s;
    opacity: 0.9%;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

a:hover {
    text-decoration: none;
    color: #2c2c2c;
}

a:link {
    text-decoration: none;
    color: #2c2c2c;
}

a:visited {
    text-decoration: none;
    color: #393939;
}

hr{
    margin: 1% 0;
}
