body {
    background-image: url(https://i.loli.net/2018/02/07/5a7ae67c56854.jpg);
    background-position: center top;
    background-repeat: no-repeat
}

.member {
    margin: 8% 1%;
}

img {
    border-radius: 5px;
    width: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4ee;
}

.media {
    font-family: 微软雅黑, 黑体, Ubuntu;
    background-color: #eeeeeeee;
    margin-top: 20px;
    padding: 2% 4%;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: #efefef88;
    line-height: 1.5;
}

.media-left-icon:hover {
    background-color: #bbbf8bee;
    margin-left: 1%;
    margin-right: -1%;
    transition-duration: 0.5s;
    opacity: 0.9%;
}

.media-right-icon:hover {
    background-color: #bbbf8bee;
    margin-left: -1%;
    margin-right: 1%;
    transition-duration: 0.5s;
    opacity: 0.9%;
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

a:hover {
    text-decoration: none;
    color: #2c2c2c;
}

a:link {
    text-decoration: none;
    color: #2c2c2c;
}

a:visited {
    text-decoration: none;
    color: #393939;
}

hr{
    margin: 1% 0;
}

.blank{
    margin-top: 70px
}
