body {
    background-image: url(https://i.loli.net/2018/02/07/5a7ae67c56854.jpg);
    background-position: center top;
    background-repeat: no-repeat
}

.title {
    margin: 8% 1% 1% 1%;
    border-color: #c6c6c6;
    border-width: 2px;
    background-color: #ffffff;
    padding: 1% 5%;
}

.main {
    margin: 2% 1% 1% 1%;
    border-color: #c6c6c6;
    border-width: 2px;
    background-color: #ffffff;
    padding: 1% 5%;
}

p {
    color: #434343;
    font-size: 14px;    
    line-height: 1.5;
}

p>img {
    width: 25px;
    border-radius: 4px;
}

hr {
    margin: 1% 0;
}
